
extends layout

block content
	#searchResult-container
		div.container(style='margin:20px', font-size: 100%)
		- searchResult1 = typeof(result1) != 'undefined' ? result1 : { }
		- searchResult0 = typeof(result0) != 'undefined' ? result0 : { }
		
			div.searchresult				
				a(href=encodeURI("http://localhost:8080/searchResultOutput?output=#{searchResult0}")) #{searchResult0}
				br
				br
				a(href=encodeURI("http://localhost:8080/searchResultOutput?output=#{searchResult1}")) #{searchResult1}  
					
block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/bootstrap-typeahead.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap.js')
	script(src='/js/views/search.js')
	
	