!!! 5
html
	head
		title Node.js Login
		link(rel='stylesheet', href='/vendor/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome-2.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')

	body(style="background-color:#eaeaea")
		#search-result
			.navbar-wrapper
				.container
					.navbar.navbar-inverse.navbar-static-top
						.navbar-header
							a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
								span.icon-bar
								| &#x9; 
								span.icon-bar
								| &#x9;
								span.icon-bar
							a.navbar-brand(href='#') Clinical Trials
						.navbar-collapse.collapse
							ul.nav.navbar-nav
								li.active
									a(href='/Search') Search

			//Carousel
			#myCarousel.carousel.slide
				ol.carousel-indicators
					li.active(data-target='#myCarousel', data-slide-to='0')
					li(data-target='#myCarousel', data-slide-to='1')
					li(data-target='#myCarousel', data-slide-to='2')
				.carousel-inner
					.item.active
						img.img-responsive(src='/images/DNA.jpg')
						.container
							.carousel-caption
					.item
						img.img-responsive(src='/images/search1.jpg')
						.container
							.carousel-caption
					.item
						img.img-responsive(src='/images/search.jpg')
						.container
							.carousel-caption
				// Controls
				a.left.carousel-control(href='#myCarousel', data-slide='prev')
					span.icon-prev
				a.right.carousel-control(href='#myCarousel', data-slide='next')
					span.icon-next
		
			#searchResult-container
				div.container(style='margin:20px', font-size: 100%)
					- searchResult = typeof(result) != 'undefined' ? result : { }		
					- searchRecommend = typeof(result1) != 'undefined' ? result1 : { }
					div.searchresult
						- if(searchResult.length == 0){
							#noresult
								h2 SORRY!!! 
								br
								h4 No result matched your search. Click on <a href="/search">"Home"</a> to go back to the search page.
								br
						- }
						- else{
							h1 Search Result
							br
							br
							- for (var i = 0; i < searchResult.length; ++i) {
							
			
								a(href=encodeURI("http://clinicaltrial-env.elasticbeanstalk.com/searchResultOutput?output=#{searchResult[i].clinical_study.brief_title}"))#search #{searchResult[i].clinical_study.brief_title}
								p #{searchResult[i].clinical_study.brief_summary.textblock}
							br
							br
							- }
							- }
					div#searchRecommend
						h1 Popular searches
						br
						- for (var i = 0; i < searchRecommend.length; ++i) {
							p #{searchRecommend[i].search}
						- }

		section#contact.container.content-section.text-center
			.row
				.col-lg-8.col-lg-offset-2
					h2 Contact 
					p
						| Feel free to email us to provide some feedback, give us suggestions, or to just say hello!
					p
						a(href='mailto:clinicaltrials.sjsu@yahoo.com') clinicaltrials.sjsu@yahoo.com
		// Footer
		footer
			.container.text-center
				p Copyright &copy;  clinicaltrial-env.elasticbeanstalk.com	
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/bootstrap-typeahead.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap.js')
	script(src='/js/views/search.js')
	script(src='/js/controllers/searchController.js')
	
	
	